/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-orange: #FF7F50;;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    --font-micro-micro: 10px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

/* Universal tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-dark-grey);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

body {
    background: linear-gradient(to bottom, #feb546, #ffffff);
    min-height: 100vh;
    user-select: none;
}



/* Home */

.title {
    margin-top: 50px;
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
}

.ver {
    color: var(--color-dark-grey);
    font-size: 18px;
}



.description {
    font-size: var(--font-small);
}

.contact_btn {
    font-size: 14px;
    border-radius: 10px;
    color: #ffffff;
    padding: 4px 12px;
}

.contact_btn:hover {
    background-color: rgb(231, 100, 0);
}

.contact_btn:hover a{
    color: white;
}

#home {
    text-align: center;
}

.icons_container {
    position: relative;
    height: 350px;
    width: 90%;
    max-width: 1400px;
    overflow: hidden;
    margin: auto;
}

.icon {
    position: absolute;
    width: 75px;
    margin: 160px 0;
    padding: 12px;
    overflow: hidden;
    filter: drop-shadow(0 13px 10px rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 35px;
    }
    .icons_container {
        width: 100%;
    }

    .icon {
        filter: none;
        margin: 140px 0;
    }

    .stop {
        margin-right: 10px !important;
        padding-left: 0px;
    }

    .start_button {
        font-size: 27px !important;
        padding: 8px 35px !important;
        margin-top: 50px;
    }

    .small_text {
        font-size: 14px !important;
    }

    .ver {
        font-size: 16px;
    }

}

.animation_button_group{
    display:flex;
    justify-content: flex-end;
}

.ani_comment {
    font-size: 11px;
    margin: 2px 0;
    color: var(--color-grey);
}
.stop {
    font-size: 18px;
    color: red;
    margin-right: 30px;
}


/* bottom */

#bottom {
    text-align: center;
    position: relative;
}

.start_button {
    display: inline-block;
    background-color: rgb(255, 155, 79);
    font-size: 35px;
    border-radius: 15px;
    padding: 10px 42px;
    margin-top: 50px;
    font-weight: var(--weight-bold);
}


.small_text {
    font-size: 16px;
    font-weight: var(--weight-regular);
}

.start_button:hover {
    background-color: rgb(255, 119, 0);
}

.caution_msg {
    margin-bottom: 30px;
    margin: 40px;
    font-size: var(--font-small);
}

.madeby {
    color: var(--color-grey);
    margin-top: 70px;
    position: relative;
    bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}